.n-login {
    height: 100vh;
    width: 100%;
}

#n-left {
    background-color: #97b64e;
}
#n-right1 {
    background-color: whitesmoke;
}
#n-right2{
    background-color: whitesmoke;
    display: none;
}