{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<section class="n-login">
    <div class="container-fluid px-0">
        <div class="row">
            <div id='n-left' class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="n-icon mx-auto text-center">
                            <p>
                                <i class="fas fa-align-left" style="color:white;font-size:25px"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mx-auto text-center">
                        <div class="brand">
                            <h2 class="n-brand">Welcome to </br> <span class="br-brand">NEPAD</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="l-text mx-auto text-center">
                            <p>
                                Coordinating and Execute priority regional and continental 
                            </p>
                            <p>
                                projects to promote regional integration towards the
                            </p> 
                            <p>
                                accelerated realisation of Agenda 2063.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="l-image mx-auto text-center">
                            <img src='../../../static/img/login/3.png' class="img-fluid" alt="brand image" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <div id="n-right" class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo mx-auto text-center">
                            <img src="../../../static/img/logo/Logo.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-text">
                            <h3>Sign In</h3>
                            <p id="login">
                                Dont have an account? <a href="" style="text-decoration: none;">Register</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="l-form">
                            <div class="login-form">	
                                <form action="" method="post">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                                            <input type="email" class="form-control" name="email" placeholder="Email Address" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input type="text" class="form-control" name="password" placeholder="Password" required="required">
                                        </div>
                                    </div>       
                                    <div class="form-group">
                                        <button type="submit" id="sub" class="btn btn-primary btn-block btn-lg">Login</button>
                                    </div>
                                    <!-- <p class="small">By clicking the Sign Up button, you agree to our <br><a href="#">Terms &amp; Conditions</a>, and <a href="#">Privacy Policy</a>.</p> -->
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}
